/* Definição de fontes */
@font-face {
    font-family: "Unbounded";
    src: url("fonts/Unbounded-Bold.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.ttf)
    format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}


:root {
  --roxo-destaque: #9747ff;
  --roxo-hover: #8233e8;
  --preto-fundo: #0e1014;
  --grafite-light: #232323;
  --off-white: #ffffff;
  --branco-fundo: #0e1014;
  --fonte-texto: "Poppins", sans-serif;
  --fonte-titulo: "Unbounded", sans-serif;
}


/* Estilo desktop */
body {
  background-color: var(--preto-fundo);
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
    color: var(--off-white);
    margin-top: 60px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: var(--off-white);
    width: 792px;
    margin: 24px auto 0;
}


h1 span {
    color: var(--roxo-destaque)
}

a {
    display: block;
    text-align: center;
    line-height: 66px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 340px;
    height: 66px;
    border-radius: 36px;
    color: var(--off-white);
    text-decoration: none;
    background-color: var(--roxo-destaque);
    margin: 40px auto;
}

a:hover{
    background-color: var(--roxo-hover);
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}



/* Estilo tablet */

@media(max-width: 768px) {

    header img{
        margin: 65px 0 0 60px;
    }

    p{
        width: 648px;
    }

}

@media(max-width: 365px) {

    header img{
        margin: 32px 0 0 32px;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }

    section img{
    width: 230px;
    height: 340px;
    }

    a{
        font-size: 20px;
        width: 251px;
    }

}